* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    background-color: #f9f5f3;
    width: 85%;
    height: 85%;
    border-radius: 10px;
}

.navBarSection {
    width: 100%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f5f3;

}

.navBarArea {
    width: 80vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 100%;
    width: 15%;
    background-image: url(./Assets/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.search {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.inputText :hover {
    border: none;
}

.inputArea {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;

}

.inputText {
    height: 100%;
    width: 100%;
    font-size: 30px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 7px;
    border: none;
    border: 1px solid white;
    font-size: 18px;
    padding-left: 60px;
    color: inherit;
    outline: none;
}


.searchBtnArea {
    height: 100%;
    width: 25%;
    margin-left: -5%;
}
.searchBtn:hover {
    cursor: pointer;
    font-size: 20px;
}

.searchBtn {
    height: 100%;
    width: 100%;
    font-size: 30px;
    border-radius: 100px;
    font-size: 18px;
    padding: 5px;
    color: inherit;
    border: 2px solid transparent;
    background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
    color: white;

}

.addRecipe {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
}

.addRecipe i {
    margin-right: 7px;
    color: linear-gradient(to right bottom, #fbdb89, #f48982);

}
.addRecipe:hover{
    background-color:rgb(231, 222, 222);
    cursor: pointer;
}

.bookmark {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bookmark i {
    margin-right: 7px;
    /* background-image: linear-gradient(to right bottom, #fbdb89, #f48982); */
}
.bookmark:hover{
    background-color:rgb(231, 222, 222);
    cursor: pointer;
}

.mainSection{
    width: 100%;
    height:auto;
    /* background-color: white; */
    border-radius: 10px;
    display:flex;
}

.nameSection{
    width: 30%;
    height: auto;
    background-color:white;
    border-bottom-left-radius: 10px;
    
}

.item{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.item:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.profile{
    /* width: 70px;
    height: 70px; */
    border-radius: 50%;
    /* background-image: url(./Assets/Spring_Pasta-removebg-preview\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat; */
}
.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.recipe{
    width: 200px;
    height: 70px;
    /* background-color: pink; */
}

.name {
    width: 200px;
    height: 35px;
    font-size: 20px;
    color: red;
    overflow: hidden;
    /* background-color: aquamarine; */
    /* margin: 0;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; */
}

.description{
    color: rgba(53, 24, 24, 0.479);
    margin-top: -20px;
}

.lastPara{
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
}







.recipeSection{
    width: 70%;
    height: auto;
    background-color: #f9f5f3;
    /* background-color: peru; */
    border-bottom-right-radius: 10px;
}

.display-bar {
    width: 65%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-image {
    width: 100%;
    height: 320px;
}

.display-image img {
    width: 100%;
    height: 100%;
}

.display-first-area {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-evenly;
    align-items: center;
}

.display-first-area .time i{
    color: #f48982;
    font-size: 1.3rem;
    margin-right: 10px;
}

.minutes {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.serving i {
    color: #f48982;
    font-size: 1.3rem;
    margin-right: 10px;
}

.numberServe {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.plusMinus {
    color: #f48982;
    font-size: 1.3rem;
    margin-left: -40px;
}

.bookmarksArea {
    width: 55px;
    height: 55px;
    background: linear-gradient(45deg, #fbd89f, #f48982);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
}

.recipeIngredients {
    height: 500px;
    width: 100%;
    background-color:#e8dfda;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 30px 0px;
}

.recipeIngredients h3 {
    color: #f48982;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

.Ingredients {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.Ingredients i {
    color: #f48982;
    font-size: 1.3rem;
    margin-right: -80px

}
